
<h3>タイトル</h3>
<p><%= @memo_detail["title"] %></p>
<h3>内容</h3>
<p><%= @memo_detail["content"] %></p>

<form method="get" action="/">
  <button type= "submit">キャンセル</button>
</form>
<form action="/edit/<%= @memo_detail["id"] %>" method="get">
  <button type= "submit">変更</button>
</form>
<form method="post" action="/memos/<%= @memo_detail["id"] %>">
  <input type="hidden" name="_method" value="DELETE">
  <button type= "submit">削除</button>
</form>
